main {
    background-color: white;
}

.jumbotron:hover {
    background-color: azure;
    background: #fafafa;
    box-shadow: 0 2px 10px #aaa;
}

footer:hover {
    background: #fafafa;
    box-shadow: 0 2px 10px #aaa;
}

.card:hover {
    background: #fafafa;
    box-shadow: 0 2px 10px rgb(170, 170, 170);
}

.container:hover {
    background: #ce77d4;
    box-shadow: 0 2px 10px rgb(170, 170, 170);
}
